@import "tailwindcss";

:root {
  --background: 255 255 255;
  --foreground: 10 10 10;
  --primary: 224 36 36; /* Red */
  --primary-foreground: 255 255 255;
  --secondary: 242 242 242;
  --secondary-foreground: 10 10 10;
  --muted: 242 242 242;
  --muted-foreground: 102 102 102;
  --accent: 242 242 242;
  --accent-foreground: 10 10 10;
  --destructive: 224 36 36;
  --destructive-foreground: 255 255 255;
  --border: 229 229 229;
  --input: 229 229 229;
  --ring: 224 36 36;
}

@theme {
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 10 10 10;
    --foreground: 255 255 255;
    --primary: 239 68 68; /* Red */
    --primary-foreground: 255 255 255;
    --secondary: 38 38 38;
    --secondary-foreground: 255 255 255;
    --muted: 38 38 38;
    --muted-foreground: 163 163 163;
    --accent: 38 38 38;
    --accent-foreground: 255 255 255;
    --destructive: 239 68 68;
    --destructive-foreground: 255 255 255;
    --border: 38 38 38;
    --input: 38 38 38;
    --ring: 239 68 68;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
