@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --background: 260 50% 5%;
  --foreground: 210 40% 98%;
  --card: 260 50% 5%;
  --card-foreground: 210 40% 98%;
  --popover: 260 50% 5%;
  --popover-foreground: 210 40% 98%;
  --primary: 265 89% 70%;
  --primary-foreground: 210 40% 98%;
  --secondary: 260 50% 15%;
  --secondary-foreground: 210 40% 98%;
  --muted: 260 50% 15%;
  --muted-foreground: 210 40% 63.9%;
  --accent: 260 50% 15%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 260 50% 15%;
  --input: 260 50% 15%;
  --ring: 265 89% 70%;
}

@layer base {
  * {
    @apply border-[#2e1933];
  }
  body {
    @apply bg-[#0f0414] text-[#f8fafc];
  }
}
